.currentTime {
  border: 1px solid red;
  background: var(--red10);
  block-size: 2px;
  inline-size: 5rem;
  position: absolute;
  inset-inline-start: 300px;
  inset-block-start: 200px;
  z-index: 2;
}

.currentTime::before {
  content: "";

  display: block;
  inline-size: 1rem;
  block-size: 1rem;
  background: var(--red10);
  border-radius: 50%;
  transform: translateY(-50%) translateX(-2px);
}
