.hourCell {
  position: relative;
  font: var(--body3-regular);
  place-self: start end;
  transform: translateY(-50%);
  position: relative;
  padding-inline-end: 1rem;
}

.hourCell::before {
  content: "";
  position: absolute;
  inline-size: 0.5rem;
  block-size: 1px;
  background: currentColor;
  inset-inline-end: 0;
  inset-block-end: 50%;
}
