.select {
  border: 1px solid var(--gray20);
  padding-inline: 0.75rem;
  padding-inline-end: 1.5rem;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
  font: var(--button--button);

  appearance: none;
  background-image: url("../images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
}
