@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --fontbase: Roboto, sans-serif;
  --white: #fffffe;
  --gray50: #222222;
  --gray20: #70757a;
  --gray10: #f1f3f4;
  --gray30: #3c4043;
  --blue10: #1a73e8;
  --blue20: #039be5;
  --red10: #e8453c;
  --green10: #33b679;
  --blue30: #1967d2;
  --body1-regular: 400 0.875rem/1.25rem var(--fontbase);
  --body1-medium: 500 0.875rem/1.25rem var(--fontbase);
  --body3-medium: 500 0.625rem/0.5rem var(--fontbase);
  --body3-regular: 400 0.625rem/0.5rem var(--fontbase);
  --body2-regular: 400 0.75rem/1rem var(--fontbase);
  --body2-medium: 500 0.75rem/1rem var(--fontbase);
  --button-button: 500 0.875rem/1rem var(--fontbase);
  --subtitle-subtitle1: 400 1.375rem/1.75rem var(--fontbase);
}
